h1 {
  font-family: "Goudy Bookletter 1911";
}
h2 {
  font-family: "Goudy Bookletter 1911";
}
h2.contact {
  color: blue;
}
section.contact {
  background-color: lightgrey;
}
p {
  font-family: "Gowun Batang";
}
li {
  font-family: "Gowun Batang";
}
h2 {
  color: white;
  background-color: black;
}
/* Utils */
.flex {
  display: flex;
  width: 100%;
}
.flex > * {
  flex: 1;
}
.gap-1 {
  gap: 1rem;
}
